.comment{
    width: 100%;
    padding:20px  40px;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    .delete{
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        transition: all ease .4s;
        &:hover{
            transform: scale(1.2);
        }
    }
    .text{
        margin-top: 10px;
    }
}


.createcomment{
    margin-bottom: 40px;
    .textarea{
        width: 100%;
        resize: none;
        min-height: 140px;
        border-radius: 10px;
        color: black;
        padding: 10px;
        margin-bottom: 20px;
    }
}