.userinfo{
    max-width: 1000px;
    min-width: 500px;
    margin: 100px auto 0 auto;
    .user__block, .user__setting{
        background-color: #282D3C;
        position: relative;
        min-height: 300px;
        border-radius: 10px;
        .avatar{
            border-radius: 50%;
            width: 170px;
            height: 170px;
            position: absolute;
            top: -30%;
            right: calc(50% - 85px);
        }
    
        .btn__move{
            position: absolute;
            top: 40px;
            right: 40px;
        }
    
        .name{
            align-items: center;
            padding-top: 120px;
            display: flex;
            flex-direction: column;
            .h2{
                font-size: 30px;
                font-weight: 800;
                margin-bottom: 20px;
                text-transform: capitalize;
                letter-spacing: .5px;
            }
            .item{
                text-transform: capitalize;
                letter-spacing: .5px;
            }
        }
    }


    .user__content{
        background-color: #282D3C;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        border-radius: 15px;
        min-width: 300px;
        position: absolute;
        top: 55%;
        .item{
            font-size: 18px;
            letter-spacing: .4px;
            margin: 5px 0;
        }
    }


    .user__setting{
        padding: 20px;
        width: 700px;
        margin: 0 auto;
        .title{
            font-size: 26px;
            margin-bottom: 30px;
        }
        .user__input{
            max-width: 500px;
            .input{
                color: black;
            }
        }
        .label{
            margin-bottom: 20px;  
            display: inline-block; 
        }
        .file__upload{
            display: flex;
            align-items: center;

            .upload{
                width: 70px;
                height: 70px;
                margin-right: 20px;
                border-radius: 50%;
            }
            margin-bottom: 30px;
        }
        .btn__block{
            display: flex;
            justify-content: space-between;
        }
    }
}