.button{
    background-color: #363945;
    padding: 8px 14px;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all ease .4s;
    font-weight: 700;
    &:hover{
        // color: #363945;
        // background-color: white;
        transform: scale(1.1);
    }
}

.red{
    background-color: red;
}