.post{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 40px;
    .post__item{
        display: flex;
        justify-content: space-between;
        
        .left__block{
            padding: 10px 10px 40px 10px;
            border-radius: 10px;
            background-color: #282D3C;
            max-width: 100px;

            .details__block{
                padding: 100px 0;
            }
        }
        .centre__block{
            max-width: 800px;
            padding: 10px 10px 40px 10px;
            border-radius: 10px;
            background-color: #282D3C;
            .poster{
                margin-bottom: 20px;
                width: 100%;
            }

            .text__block{
                padding: 0 40px;
                margin-bottom: 40px;
                .content__block{

                    h2{
                        margin-bottom: 20px;
                        font-size: 30px;
                    }
                }
                .comment__block{
                padding: 0 40px;
                }

                .tags__block{
                    margin-bottom: 20px;
                    .tags{
                        margin-right: 15px;
                        font-size: 18px;
                    }
                }
            }
        }

        .right__block{
            max-width: 260px;
            padding: 10px 10px 40px 10px;
            border-radius: 10px;
            background-color: #282D3C;
        }
    }
}