.post{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 40px;
    .post__item{
        display: flex;
        justify-content: space-between;
        
        .left__block{
            padding: 10px 10px 40px 10px;
            border-radius: 10px;
            background-color: #282D3C;
            max-width: 100px;

            .details__block{
                padding: 100px 0;
            }
        }
        .centre__block{
            max-width: 800px;
            padding: 10px 10px 40px 10px;
            border-radius: 10px;
            background-color: #282D3C;
            position: relative;
            .owner__icons{
                width: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                top: 10px;
                right: 10px;
                .icon{
                    height: 2em;
                    width: 2em;
                    cursor: pointer;
                    transition: all ease .4s;
                    padding: 5px;
                    border-radius: 50%;
                    &:hover{
                        background-color: gray;
                    }
                }
            }
            .poster{
                // margin-bottom: 20px;
                // width: 100%;
                max-width: 100%;
                min-width: 40%;
                margin: 40px auto;
                display: block;
            }

            .text__block{
                padding: 0 40px;
                margin-bottom: 40px;
                .content__block{

                    h2{
                        margin-bottom: 20px;
                        font-size: 30px;
                    }

                    .article__icons{
                        margin-top: 30px;
                        display: flex;
                        align-items: center;
                        .icon, .icon__active{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            margin-right: 10px;
                        }
                        .icon__active{
                            fill: #f70c0c;
                        }
                    }
                }


                .tags__block{
                    margin-bottom: 20px;
                    .tags{
                        margin-right: 15px;
                        font-size: 18px;
                    }
                }
            }
            .comment__block{
                padding: 0 40px;
                .discussion{
                    margin-bottom: 20px;
                    font-size: 24px;
                }
            }
        }

        .right__block{
            max-width: 260px;
            padding: 10px 10px 40px 10px;
            border-radius: 10px;
            background-color: #282D3C;
        }
    }
}