.header{
    background-color: #282D3C;
    padding: 20px 10px;
    nav{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo__block{
            display: flex;
            
            .logo{
                margin-right: 40px;
                display: flex;
                align-items: flex-end;
                font-size: 22px;
                img{
                    width: 50px;
                }
            }
        }

        .login__block{
            width: 140px;
            display: flex;
            justify-content: space-between;
        }
    }


}